[access]
	inheritFrom = All-Projects
[project]
	description = Collection of Authentication and Authorization Plugins, technology specific clients, configuration tooling and encryption tooling, designed to enable Services to quickly and securely integrate Security.
[access "refs/*"]
	read = group GitHub Replication
	read = group GitHub Replication
	owner = group ldap/onap-gerrit-aaf-cadi-committers
